.vbefore
  margin 3rem 0 5rem
  border-top 0.1rem #e6e6e6 solid

.v code, .v pre
  font-family 'Source Code Pro', Console, 'Noto Sans SC', 'PingFang SC', 'Microsoft YaHei', monospace

.v *
  transition all .15s linear

.vctrl *:hover
.vemojis i:hover
  color #1594c6
.v .vwrap .vheader .vinput:focus
  border-bottom-color #1594c6

.vemojis
  display block
.vemojis[style~="hide"]
  opalicy 0
.vemojis[style~="block"]
  opalicy 1
