// for code blocks inline & multiline
.code, code
  font-family 'Source Code Pro', Console, 'Noto Sans SC', 'PingFang SC', 'Microsoft YaHei', monospace
  font-weight 500
  letter-spacing -.002rem
  tab-size 4
code
  background-color #f6f6f6
// transition
a
  transition(color .15s linear)
